nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height:8vh;
  background-color: #F0CBCA;
  font-family: 'Poppins', sans-serif;
}

.logo {
  color: #FBFBFB;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 25%;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  color: #FBFBFB;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.burger div{
  width: 25px;
  height: 5px;
  color: 
}
body {
  display: flex;
  justify-content: center;
  width: 75;
  color: #FBFBFB;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}
