nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height:8vh;
  background-color: #F0CBCA;
  font-family: 'Poppins', sans-serif;
}
.logo {
  color: #FBFBFB;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  color: #FBFBFB;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.burger{
  display: none;
  cursor: pointer;
}
.burger div{
  width: 25px;
  height: 5px;
  background-color: #FBFBFB;
  margin: 3px;
}

@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: fixed;
    right: 8px;
    height: 92vh;
    top: 18vh;
    background-color: #F0CBCA;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(110%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}
.nav-active{
  transform: translateX(0%);
}
.content {
  display: flex;
  justify-content: center;
  width: 75%;
  font-family: 'Poppins',sans-serif;
  font-size:12px;
}
